################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
**scratch.yml
**controlplane*.yaml
**worker*.yaml
**talosconfig
**kubeconfig
**.terraform
**terraform.tfstate.backup